# dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# testing
coverage
lib-cov

# dev/builds/outputs
.output
.data
.nuxt
.nitro
.cache
dist
build
out/
.nuxt/
.next/

# misc
.DS_Store
.fleet
.idea
temp
logs
*.log
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.*local

# turbo
.turbo

# cloud services
.vercel
.netlify

# sst
.sst
