# dependencies
node_modules
.pnp
.pnp.js
.pnpm-store

# testing
coverage

# builds
dist
build
out/
.next/

# misc
.DS_Store
.idea
*.pem
temp
logs
lib-cov
coverage
.cache
.idea
*.log

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# local env files
.env.*local

# turbo
.turbo

# local netlify folder
.netlify
