@import url('primeicons/primeicons.css');

:root {
  --primary-50: 270 100% 98%;
  --primary-100: 269 100% 95%;
  --primary-200: 269 100% 92%;
  --primary-300: 269 97% 85%;
  --primary-400: 270 95% 75%;
  --primary-500: 271 91% 65%;
  --primary-600: 271 81% 56%;
  --primary-700: 272 72% 47%;
  --primary-800: 273 67% 39%;
  --primary-900: 274 66% 32%;
  --primary-950: 269 67% 24%;
  
  --surface-0: 0 0% 100%;
  --surface-50: 210 40% 98%;
  --surface-100: 210 40% 96%;
  --surface-200: 214 32% 91%;
  --surface-300: 213 27% 84%;
  --surface-400: 215 20% 65%;
  --surface-500: 215 16% 47%;
  --surface-600: 215 19% 35%;
  --surface-700: 218 23% 23%;
  --surface-800: 217 33% 17%;
  --surface-900: 222 47% 11%;
  --surface-950: 231 77% 5%;

  --primary: var(--primary-500);
  --primary-inverse: var(--surface-0);
  --primary-hover: var(--primary-600);
  --primary-active-color: var(--primary-600);

  --primary-highlight-opacity: 0.1;
  --primary-highlight-inverse: var(--primary-700);
  --primary-highlight-hover-opacity: 0.2;
}
.dark{
  --primary: var(--primary-400);
  --primary-inverse: var(--surface-900);
  --primary-hover: var(--primary-300);
  --primary-active-color: var(--primary-300);

  --primary-highlight-opacity: 0.2;
  --primary-highlight-inverse: var(--surface-0);
  --primary-highlight-hover-opacity: 0.3;
}

.customized-primary {
  &:not(.dark){
      --primary: var(--primary-950);
      --primary-inverse: var(--surface-0);
      --primary-hover: var(--primary-800);
      --primary-active-color: var(--primary-900);

      --primary-highlight-opacity: 1;
      --primary-highlight-inverse: var(--surface-0);
      --primary-highlight-hover-opacity: 0.8;
  }
  &.dark{
      --primary: var(--primary-50);
      --primary-inverse: var(--surface-950);
      --primary-hover: var(--primary-100);
      --primary-active-color: var(--primary-100);

      --primary-highlight-opacity: 0.1;
      --primary-highlight-inverse: var(--surface-0);
      --primary-highlight-hover-opacity: 0.2;

  }
}
